<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>

<div>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</div>
<main>
    <div class="container">
        <h2 class="text-center text-white">Set user roles</h2>
        <form method="post" th:action="@{/admin/set-user-role}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="form-group">
                <label class="text-white font-weight-bold" for="username">Username</label>
                <select th:field="${userRolesBindingModel.username}" name="username" id="username"
                        class="custom-select">
                    <option value="" selected>Select username</option>
                    <option th:each="user : ${users}" th:object="${user}" th:value="*{username}" th:text="*{username}">
                        Select username
                    </option>
                </select>
            </div>
            <div th:each="role: ${T(com.vm.vacationmanager.models.entities.Roles).values()}">
                <div class="form-group">
                    <label class="text-white font-weight-bold">
                        <input th:field="${userRolesBindingModel.roles}" name="roles" type="checkbox"
                               th:value="${role}" th:text="| ${#strings.toLowerCase(role)}|"/>
                    </label>
                </div>
            </div>
            <div th:if="${minOneAdmin}" class="alert alert-danger" role="alert">
                System must have minimum one user with ADMIN role!
            </div>
            <div th:if="${incorrect}" class="alert alert-danger" role="alert">Please Choose User!
            </div>
            <div class="button-holder d-flex">
                <button type="submit" class="btn btn-info btn-sm">Set user roles</button>
            </div>

        </form>
    </div>
</main>
<div>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>

</body>
</html>
