<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment>
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <th:block sec:authorize="isAuthenticated()">
                <a class="navbar-brand" href="/home"><img alt="RSM picture" src="/img/logo.png" class="logo"></a>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <a class="navbar-brand" href="/"><img alt="RSM picture" src="/img/logo.png" class="logo"></a>
            </th:block>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <th:block sec:authorize="isAnonymous()"><h5 style="color:White;">Welcome to Vacation Manager</h5>
            </th:block>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto col-12 justify-content-between">
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_EMPLOYEE')">
                        <a class="nav-link" href="/employee/create" >Create Vacation</a>
                    </li>
                    <li class="nav-item"  sec:authorize="hasAnyRole('ROLE_EMPLOYEE')">
                        <a class="nav-link" href="/employee/view">My Vacations</a>
                    </li>
                    <li class="nav-item"  sec:authorize="hasAnyRole('ROLE_MANAGER')">
                        <a class="nav-link" href="/manager/manage">Manage Vacations</a>
                    </li>
                    <li class="nav-item"   sec:authorize="hasAnyRole('ROLE_HR')">
                        <a class="nav-link" href="/hr/users-list">View Employees</a>
                    </li>
                    <li class="nav-item"   sec:authorize="hasAnyRole('ROLE_HR')">
                        <a class="nav-link" href="/hr/vacation-list">View Vacations</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownAdmin" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Tool Box</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                            <a class="dropdown-item" href="/admin/set-user-role">Set Users Roles</a>
                        </div>
                    </li>
                    <th:block sec:authorize="isAuthenticated()">

                        <li class="nav-item">
                            <div class="form-inline my-2 my-lg-0 border px-3">
                                                    <span class="logged-user"
                                                          th:text="|Welcome, ${#authentication.getPrincipal().getUsername()} !|"></span>
                            </div>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="POST">
                                <button type="submit" class="btn-dark">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAnonymous()">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class=" nav-item right">
                            <a class="nav-link" th:href="@{/users/login}">Login</a>
                        </li>
                        <li class="nav-item right">
                            <a class="nav-link" th:href="@{/users/register}">Register</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </nav>
    </div>
</th:block>
</body>